body.telaDashboard{
    background-image: url('../../front/images/background-home.jpg');
    background-size: 100vh, 100vw;

    & .header-tela-inicial {
        height: 60px;
        width: 100%;
        background-color: rgb(51, 51, 51);
    }

    & section.conteudo-telaDashboard {
        height: 90vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        & .wraper-conteudo-tela-inicial {
            width: 800px;
            height: 500px;
            background-color: rgb(218, 213, 213);
            border-radius: 10px;

                &::after {
                    content: ' ';
                    display: inline-block;
                    position: absolute;
                    top: 89px;
                    left: 325px;
                    width: 700px;
                    height: 530px;
                    border: 3px solid rgb(51, 49, 49);
                    z-index: -1;
                    
                }

                & .wraper-inside-gray {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    & .wraper-title {
                        display: flex;
                        justify-content: center;
                        padding: 20px;
                        margin-bottom: 40px;

                        & span {
                            font-size: 1.4rem;
                        }
                    }

                    & .wraper-graficos {
                        width: 90%;
                        height: 100%;

                        & .semi {
                            display: flex;
                            height: 45%;
                            width: 100%;
                        }

                        & .primeiro, & .segundo, & .terceiro, & .quarto {
                            width: 49%;
                            height: 100%;
                        }
                    }
                }
        }
    }
}