body.telaInicial{
    background-image: url('../../front/images/background-home.jpg');
    background-size: 100%, 100%;

    & .header-tela-inicial {
        height: 60px;
        width: 100%;
        background-color: black;
    }
}